html {
  background: grey;
  background: url("../Images/gray-wall.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: grey;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #212529;
}

.tp{
  background-color: transparent;
  font-family: "Times New Roman", Times, serif;
}

.tp h1, h3{
  font-family: "Lobster", "Times New Roman";
}

.box{
  margin: 30px;
  padding: 50px;
  /*background: rgba(255, 255, 255, 0.6);*/
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
  position: relative;
}

.box p{
  margin: 5%;
  font-weight: bold;
  color: black;
}

.space h2{
  padding: 15px;
  text-align: center;
  font-family: "Lobster", "Times New Roman";
}

.edge{
  border-radius: 25px 75px;
  background: linear-gradient(45deg, rgba(204, 255, 255, 0.8), rgba(255, 204, 204, 0.8));
}

.edge2{
  border-radius: 75px 25px;
  background: linear-gradient(45deg, rgba(255, 204, 204, 0.8), rgba(204, 255, 255, 0.8));
}

.back{
  height:200px;
  width:100%;
}

.beforeFoot{
  position:relative;
  width:100%;
}

.foot2{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.anchor{
  top: -125px;
  position: relative;
  display: block;
  visibility: hidden;
}

#footer .nav .nav-link, #footer p, #mynav .navbar-nav .nav-link, #mynav .dropdown-menu .dropdown-item, #mynav .dropdown-menu .dropdown-divider{
    color: #ffcc00;
    color: white;
    font-family: "Lobster", "Times New Roman";
    font-size: 20px;
    text-align: center;
}

#mynav .navbar-nav .nav-link, #footer .nav .nav-link, #mynav .dropdown-menu .dropdown-item{
  transform: scale(0.9);
}

#mynav .navbar-nav .nav-link:hover, #footer .nav .nav-link:hover, #mynav .dropdown-menu .dropdown-item:hover{
  color: red;
  transform: scale(1.25);
}

#mynav .dropdown-menu .dropdown-item:hover{
background: transparent;
}

.box.edge:hover{
  border-radius: 75px 25px;
  background-color: cyan;
  background: linear-gradient(45deg, rgba(204, 255, 255, 1), rgba(255, 204, 204, 1));
}

.box.edge2:hover{
  border-radius: 25px 75px;
  background-color: red;
  background: linear-gradient(45deg, rgba(255, 204, 204, 1), rgba(204, 255, 255, 1));
}

.box h1, .edge, .edge2, .box h3{
  transition: all 0.6s ease-in-out;
}

.picture h3, .picture a{
  transition: all 0.2s ease;
}

.box:hover h1{
  transform: rotate(-3deg);
  color: red;
}


.picture{
text-align: center;
border-radius: 75px;
border: 3px solid black;
margin-top: 5%;
box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
}

.picture img{
  width: 95%;
  height: 95%;
  border-radius: 25px;
  border: 3px solid black;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
}

.picture a{
  margin: 10px;
}

.picture:hover h3, .picture:hover a{
  transform: rotate(-3deg);
  color: blue;
}

.list-text{
  font-weight: bold;
  font-size: 20px;
  list-style-position: inside;
  list-style-type: square;
}

.contain{
  display: inline-block;
}

.contain2{
  display: inline;
}

.typewriter{
  overflow: hidden;
  white-space: nowrap;
  width: 0%;
  border-right: 4px solid transparent;
  animation:
  typing 2s steps(25, end) forwards,
  blink 0.75s 5;
}

.delay{
  animation-delay: 1s;
}

.delay2{
  animation-delay: 5s;
}

#resume{
  margin-bottom: 20px;
}

#first, #second, #third, #fourth, #fifth{
  width: 100%;
  height: auto;
  justify-self: center;
  padding: 30px;
}

#first{
  grid-area: first;
}

#second{
  grid-area: second;
}

#third{
  grid-area: third;
}

#fourth{
  grid-area: fourth;
}

#fifth{
  grid-area: fifth;
}

#mainGrid{
  display: grid;
  grid-template-columns: repeat(5, 50%);
  grid-template-areas:
    'first second third fourth fifth';
  grid-gap: 10px;
  overflow: hidden;
}

.previous, .next {
  cursor: pointer;
  position: absolute;
  user-select: none;
  text-decoration: none;
  top: 50%;
  width: auto;
  height: auto;
  padding: 20px;
  margin-top: -40px;
  color: black;
  font-weight: bold;
  font-size: 20px;
  transition: 0.8s ease;
}

.previous{
  left: 0px;
  border-radius: 0px 25px 25px 0px;
}

.next {
  right: 0px;
  border-radius: 25px 0px 0px 25px;
}

.previous:hover, .next:hover {
  color: black;
  background-color: rgba(255,255,255,0.8);
}

@keyframes typing{
  from{ width: 0%;}
  to{width: 100%;}
}

@keyframes blink{
  50% {border-color: white;}
}

@keyframes slideFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slideFromRight {
  0% {
    transform: translateX(200%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slideFromUp {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

nav {
  animation: slideFromLeft 1s 0s ease-out;
  background: #333;
}

@media (max-width: 1000px) {
  #back {
      width: 95%;
      text-align: center;
  }
}
