html{
  font-family: "Times New Roman", Times, serif;
}

.customDropdown{
  background-color: white;
  display: flex;
  flex-direction: column;
  border: 1px solid gray;
}

.customDropdown:empty {
  border: none;
}

.footer-links a{
  text-decoration: none;
}

.footer-links a:hover{
  text-decoration: underline;
  text-decoration-color: #0d6efd;
  text-decoration-color: black;
}

.graphSize{
  height: 700px;
}

/* Applies to 499px and down */
@media only screen and (max-width: 499px) {
  .graphSize{
    height: 500px;
  }
}
