html{
  background: #333;
  background: white;
}

.center{
  text-align: center;
}

.circle{
  height: 1400px;
  width: 100%;
  border-left: 25px solid black;
  border-right: 25px solid black;
  border-top: 25px solid blue;
  border-bottom: 25px solid blue;
  border-radius: 0px;
}

.grid{
  display: grid;
  grid-template-columns: repeat(3, 33%);
  grid-template-areas:
    'first second third'
    'first second third'
    'first second third';
  grid-gap: 10px;
  grid-row-gap: 50px;
  overflow: hidden;
  padding: 50px;
}

#first, #second, #third, #fourth, #fifth, #sixth, #seventh{
  justify-self: center;
  align-items: center;
}

@keyframes slideFromLeft {
  0% {
    transform: translateX(-300%) skewX(0deg);
  }
  100% {
    transform: translateX(0) skewX(19.6deg);
  }
}

.logo{
  width: 140px;
  height: 250px;
  position:relative;
  margin-left: 50%;
  transform: translateX(00%);
  background: linear-gradient(
    90deg,
    #b1060e 0,
    #b1060e 50px,
    transparent 50px,
    transparent 90px,
    #b1060e 90px,
    #b1060e 140px
  );
  animation: 1s ease-out 3s 1 slideFromUp;
  z-index: -1;
}

.logo::before, .logo::after{
  content: '';
  display: block;
  position: absolute;
}

.logo::before{
  width: 50px;
  height: 250px;
  top: 0;
  left: 45px;
  background-color: #e50914;
  transform: skewX(19.6deg);
  box-shadow: 0 0 20px black;
  animation: 1s ease-out 3s 1 slideFromLeft
}

.logo::after{
  width: 190px;
  height: 25px;
  top: 245px;
  left: -25px;
  border-radius: 50%;
  background-color: rgb(0,0,0,1);
  animation: 1s ease-out 3s 1 slideFromRight;
}
