html{
  background: #333;
  background: white;
}

.center{
  text-align: center;
}

.circle{
  height: 1400px;
  width: 100%;
  border-left: 25px solid black;
  border-right: 25px solid black;
  border-top: 25px solid blue;
  border-bottom: 25px solid blue;
  border-radius: 0px;
}

.grid{
  display: grid;
  grid-template-columns: repeat(3, 33%);
  grid-template-areas:
    'first second third'
    'first second third'
    'first second third';
  grid-gap: 10px;
  grid-row-gap: 50px;
  overflow: hidden;
  padding: 50px;
}

#first, #second, #third, #fourth, #fifth, #sixth, #seventh{
  justify-self: center;
  align-items: center;
}
